$blanco: white;
$negro: black;
$gris30: rgb(170, 170, 170);
$gris50: rgb(125, 125, 125);
$gris70: rgb(76.5, 76.5, 76.5);
$verde: rgba(130, 188, 0, 1);
$verde2: rgba(207, 219, 0, 1);
$amarillo: rgba(255, 200, 67, 1);
$cafe: rgba(131, 96, 63, 1);

/*Signal Colors*/
$click: #0074E8 ;
$hecho: $verde;
$editar: $amarillo ;
$borrar: #dc3545 ;
$alerta: #ff9400;

$crema: #fdf6ec;
$rosa: #E77E83;
$rosa2: #ECC8CA;
$grisrosa: #69595A;
$caferosa:#693A3C;
$caferosa2:#B56468;


$colores: (
    blanco: $blanco,
    negro: $negro,
    gris30: $gris30,
    gris50: $gris50,
    gris70: $gris70,
    verde: $verde,
    verde2: $verde2,
    amarillo: $amarillo,
    cafe: $cafe,
);

//breakpoints as variables
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//breakpoints as a map
$breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
);

$justify: (
    evenly: space-evenly,
    around: space-around,
    between: space-between,
    center: center,
    start: start,
    end: end,
);

//para prefix de css como -webkit-tansition
@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

//breakpoints
@mixin progrid-xs {
    @media only screen and (min-width: $xs) {
        @content;
    }
}

@mixin progrid-sm {
    @media only screen and (min-width: $sm) {
        @content;
    }
}

@mixin progrid-md {
    @media only screen and (min-width: $md) {
        @content;
    }
}

@mixin progrid-lg {
    @media only screen and (min-width: $lg) {
        @content;
    }
}

@mixin progrid-xl {
    @media only screen and (min-width: $xl) {
        @content;
    }
}
